.users-page {
  width: 90%;
  margin: 0 auto;
}

.users-page .search-input {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.users-page .search-input a {
  background-color: black;
  border-radius: 5px;
  padding: 1%;
  margin-right: 30px;
  color: white;
}

.users-page .search-input a:hover {
  underline: none;
  cursor: pointer;
}

.users-page .search-input input {
  border-radius: 5px;
  box-shadow: none;
}

.users-page .search-input input:focus {
  outline: 0;
}

.users-page .users-title p {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.users-page .empty-show {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}